@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --radius: 1rem; }

html, body { height: 100%; }
html { scroll-behavior: smooth; }

body {
  background: rgba(243,235,221,.30);
  color: rgb(23,23,23);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width:100%;
  max-width:80rem;
  margin-left:auto;
  margin-right:auto;
  padding-left:1.5rem;
  padding-right:1.5rem;
}
@media (min-width:768px){
  .container{ padding-left:2rem; padding-right:2rem; }
}
